.parent {
  display: flex;
  justify-content: center;
}

.bottom {
  background: #ebebeb;
  bottom: 10px;
  border-radius: 15px;
  opacity: 50%;
  position: absolute;
  width: 60%;
  z-index: 1000;
}

.submenu {
  display: flex;
}

.options {
  display: flex;
  width: 100%;
}

.slider {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  width: 80%;
}
